<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
            <a class="headerLink" href="/">Home</a>
            <a class="headerLink" href="/beers">Beers</a>
            <a class="headerLink"0px href="/random-beer">Random Beer</a>

        </div>  
    </header>

    <div class="beersContainer">
        {{#each beersFromApi}}
        <div class="tileContainer">
            <div class="beerImgContainer">
                <img class="beerImg" src="{{this.image_url}}" alt="image of a beer">
            </div>
            <div class="beerTextContainer">
                <h2>{{this.name}}</h2>
                <h4>{{this.tagline}}</h4>
                <span class="beerDescription">{{this.description}}</span>
            </div>
        </div>

        {{/each}}
    </div>

    <footer>
        <div class="footer">
            <span class="footerText">Developed by Ironhack </span>
        </div>
    </footer>
    
</body>
</html>